:root {
    --background-color: hsl(260, 10%, 97%);
    --text-color: hsl(255, 4%, 18%);
    --highlight-color: hsl(260, 10%, 75%);
    --accent-color: hsl(54, 77%, 83%);
    --nav-height: 3rem;
    --invalid-color: #ebb0b0;
}

* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a {
    text-shadow: rgba(0, 0, 0, 0.3) 0rem 0.05rem 0.1rem;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 300px;
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow-y: auto;

    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

.page-container {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;

    padding-top: 1rem;
    padding-bottom: 1rem;

    max-width: 1200px;
    margin-top: var(--nav-height);
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    padding-inline: 1rem;

    width: 100%;
    height: var(--nav-height);
    top: 0;
    position: fixed;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    align-items: center;

    background-color: var(--highlight-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.2rem 0.5rem;
}

@media only screen and (max-width: 600px) {
    .nav > :first-child {
        display: none;
        /* font-size: 1.5rem;
        width: 7rem; */
    }
}

.nav:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--text-color);
    height: 0.12rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.nav h1 span {
    display: inline-block;
    transition: color 0.2s ease;
}

.nav h1 span:nth-child(1):hover { color: red; }
.nav h1 span:nth-child(2):hover { color: orange; }
.nav h1 span:nth-child(3):hover { color: yellow; }
.nav h1 span:nth-child(4):hover { color: green; }
.nav h1 span:nth-child(5):hover { color: rgb(20, 155, 92);}
.nav h1 span:nth-child(6):hover { color: indigo; }
.nav h1 span:nth-child(7):hover { color: violet; }
.nav h1 span:nth-child(8):hover { color: purple; }
.nav h1 span:nth-child(9):hover { color: pink; }
.nav h1 span:nth-child(10):hover { color: brown; }
.nav h1 span:nth-child(11):hover { color: rgb(235, 116, 116); }
.nav h1 span:nth-child(12):hover { color: blue;}

.nav a {
    display: block;

    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.nav a:hover {
    color: var(--accent-color);
}

.nav a.active-page {
    color: var(--accent-color);
}


/* @media screen and (max-width: 440px) {
    
} */

input {
    padding: 0.25rem;
    border: 0.15rem solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.2rem 0.2rem;
}

input:focus {
    border-color: var(--highlight-color);
    outline: none;
}

input.invalid {
    background-color: var(--invalid-color);
    border: 0.15rem solid var(--invalid-color);
}

button {
    padding: 0.25rem;
    border: 0.15rem solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: rgba(0, 0, 0, 0.3) 0rem 0.2rem 0.2rem;
}

button:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
}

button:active {
    background-color: var(--highlight-color);
    color: var(--text-color);
}

button:disabled {
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: 0.15rem solid var(--highlight-color);
}

button:disabled:hover {
    cursor: default;
}
