:root {
    --background-color: hsl(260, 10%, 97%);
    --text-color: hsl(255, 4%, 18%);
    --highlight-color: hsl(260, 10%, 75%);
    --accent-color: hsl(54, 77%, 83%);
    --nav-height: 3rem;
    --invalid-color: #ebb0b0;
}

* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 300px;
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow-y: auto;

    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

.page-container {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;

    padding-top: 1rem;
    padding-bottom: 1rem;

    max-width: 1200px;
    margin-top: var(--nav-height);
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    padding-inline: 1rem;

    width: 100%;
    height: var(--nav-height);
    top: 0;
    position: fixed;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    align-items: center;

    background-color: var(--highlight-color);
}

@media only screen and (max-width: 600px) {
    .nav > :first-child {
        display: none;
        /* font-size: 1.5rem;
        width: 7rem; */
    }
}

.nav:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--text-color);
    height: 0.12rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.nav a {
    display: block;

    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.nav a:hover {
    color: var(--accent-color);
}

.nav a.active-page {
    color: var(--accent-color);
}


/* @media screen and (max-width: 440px) {
    
} */

input {
    padding: 0.25rem;
    border: 0.15rem solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
}

input:focus {
    border-color: var(--highlight-color);
    outline: none;
}

input.invalid {
    background-color: var(--invalid-color);
    border: 0.15rem solid var(--invalid-color);
}

button {
    padding: 0.25rem;
    border: 0.15rem solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
}

button:active {
    background-color: var(--highlight-color);
    color: var(--text-color);
}

button:disabled {
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: 0.15rem solid var(--highlight-color);
}

button:disabled:hover {
    cursor: default;
}
