:root {
    --background-color: hsl(260, 10%, 97%);
    --text-color: hsl(255, 4%, 18%);
    --highlight-color: hsl(260, 10%, 75%);
    --accent-color: hsl(27, 75%, 73%);
    --nav-height: 3rem;
}

* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow-y: auto;

    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

.page-container {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;

    padding-top: 1rem;
    padding-bottom: 1rem;

    max-width: 1200px;
    margin-top: var(--nav-height);
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.nav {
    padding-inline: 1rem;

    width: 100%;
    height: var(--nav-height);
    top: 0;
    position: fixed;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    align-items: center;

    background-color: var(--background-color);
}

.nav:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--text-color);
    height: 0.12rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.nav a {
    display: block;

    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.nav a:hover {
    color: var(--highlight-color);
}

.nav a.active-page {
    color: var(--highlight-color);
}
