#patches-page-container {
    margin: 0;
    padding: 0;

    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#patch-list-container {
    margin: 0;
    padding: 0;
    
    width: 90%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
}

#patch-list-container .patch-list-item {
    margin: 1rem;

    width: calc((100% - (4 * 2rem)) / 4); 
    min-width: 5rem; 
    
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;

    outline: 2px solid black;
}

#patch-list-container .patch-list-item .patch-list-item-tile {
    width: calc(100% / 8);
    aspect-ratio: 1 / 1;
}

#patch-list-page-numbers-container {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

#prev-page-button, #current-page-number, #next-page-button {
    display: none;
}
